body{
    margin: 0 auto;
    max-width:900px;
    width:90%;
}
#box{
    float: left;
    margin: 15px;
    height: 150px;
    width:150px;
    border-radius: 5px;
    background-color: aqua;
    padding: 1em;
}
.special{
    background-color: aquamarine;
    padding: 15px;
    color: aliceblue;
}
.cleared{
    clear: left;
}