
body{
    margin: 0px;
}
h1{
    
    color: aliceblue;
    text-align: center;
    
    }
    header{
        background-color:cornflowerblue;
        padding:40px;
        
    }
    nav,a{
        padding:10px;
        top:0px;
        background-color: black;
        color: white;
        position: sticky;
    }